.main {
  /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),
  url("/public/IMG_2622.JPG");  */
  background-size: 150px;
  background-attachment: fixed;
}

:root {
  /* background-color: #696cb7; */
  background-image: url("/IMG_2622.JPG");
  /* background-size: 1000px; */
  background-size: 100%;
}

.ScrollMandatory {
  scroll-snap-type: x mandatory;
}
.one {
  display: flex;
  margin: auto;
  border: 5px solid #b298e9;
}

.aboutMeTxt {
  width: 80%;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin: auto;
  word-spacing: 5px;
  font-size: 20px;
}

#navbarNav {
  list-style-type: none;
  display: inline;
  width: 300px;
  color: black;
}

#nav-item {
  display: flex;
}

label {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.classRev {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  /* background-color: white; */
}

#title {
  justify-content: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.navbar-brand {
  display: flex;
  font-size: 40px;
  align-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.revForm {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  flex-direction: column;
  /* background-color: #9195e7; */
  /* float: left; */
}

.nav-item {
  display: flex;
  font-size: 25px;
}
.allRevs {
  display: grid;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}
.revDisplay {
  border: 2px solid #b298e9;
  margin: 10px;
  background-color: white;
}
.allReviews {
  border: 5px solid black;
}
.accountClasses {
  display: flex;
  flex-direction: column;
}

.classILDisplay {
  border: 2px solid black;
  margin: 14px;
  background-color: white;
}
form.formClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding-top: 270px;
}

#classesDisplay {
  margin: auto;
  flex-wrap: revert-layer;
  display: inline-flex;
  list-style-type: none;
}

form {
  font-weight: 500;
}

p {
  font-size: 15px;
}

a {
  font-weight: 500;
  color: black;
  /* font-size: 25px; */
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* .accountDetails{
  display:flex;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c59df4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
